<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="300">
</center>

# Assignment: Notebook for Peer Assignment

Estimated time needed: 45 minutes

# Assignment Scenario

Congratulations! You have just been hired by a US Venture Capital firm as a data analyst.

The company is considering foreign grain markets to help meet its supply chain requirements for its recent investments in the microbrewery and microdistillery industry, which is involved with the production and distribution of craft beers and spirits.

Your first task is to provide a high level analysis of crop production in Canada. Your stakeholders want to understand the current and historical performance of certain crop types in terms of supply and price volatility. For now they are mainly interested in a macro-view of Canada's crop farming industry, and how it relates to the relative value of the Canadian and US dollars.

# Introduction

Using this R notebook you will:

1.  Understand four datasets
2.  Load the datasets into four separate tables in a database
3.  Execute SQL queries to answer assignment questions

You have already encountered two of these datasets in the previous practice lab. You will be able to reuse much of the work you did there to prepare your database tables for executing SQL queries.

# Understand the datasets

To complete the assignment problems in this notebook you will be using subsetted snapshots of two datasets from Statistics Canada, and one from the Bank of Canada. The links to the prepared datasets are provided in the next section; the interested student can explore the landing pages for the source datasets as follows:

1.  <a href="https://www150.statcan.gc.ca/t1/tbl1/en/tv.action?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMRP0203ENSkillsNetwork23863830-2021-01-01&pid=3210035901">Canadian Principal Crops (Data & Metadata)</a>
2.  <a href="https://www150.statcan.gc.ca/t1/tbl1/en/tv.action?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMRP0203ENSkillsNetwork23863830-2021-01-01&pid=3210007701">Farm product prices (Data & Metadata)</a>
3.  <a href="https://www.bankofcanada.ca/rates/exchange/daily-exchange-rates?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMRP0203ENSkillsNetwork23863830-2021-01-01">Bank of Canada daily average exchange rates</a>

### 1. Canadian Principal Crops Data \*

This dataset contains agricultural production measures for the principle crops grown in Canada, including a breakdown by province and teritory, for each year from 1908 to 2020.

For this assignment you will use a preprocessed snapshot of this dataset (see below).

A detailed description of this dataset can be obtained from the StatsCan Data Portal at:
[https://www150.statcan.gc.ca/t1/tbl1/en/tv.action?pid=3210035901](https://www150.statcan.gc.ca/t1/tbl1/en/tv.action?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMRP0203ENSkillsNetwork23863830-2021-01-01&pid=3210035901)\
Detailed information is included in the metadata file and as header text in the data file, which can be downloaded - look for the 'download options' link.

### 2. Farm product prices

This dataset contains monthly average farm product prices for Canadian crops and livestock by province and teritory, from 1980 to 2020 (or 'last year', whichever is greatest).

For this assignment you will use a preprocessed snapshot of this dataset (see below).

A description of this dataset can be obtained from the StatsCan Data Portal at:
[https://www150.statcan.gc.ca/t1/tbl1/en/tv.action?pid=3210007701](https://www150.statcan.gc.ca/t1/tbl1/en/tv.action?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMRP0203ENSkillsNetwork23863830-2021-01-01&pid=3210007701)
The information is included in the metadata file, which can be downloaded - look for the 'download options' link.

### 3. Bank of Canada daily average exchange rates \*

This dataset contains the daily average exchange rates for multiple foreign currencies. Exchange rates are expressed as 1 unit of the foreign currency converted into Canadian dollars. It includes only the latest four years of data, and the rates are published once each business day by 16:30 ET.

For this assignment you will use a snapshot of this dataset with only the USD-CAD exchange rates included (see next section). We have also prepared a monthly averaged version which you will be using below.

A brief description of this dataset and the original dataset can be obtained from the Bank of Canada Data Portal at:
[https://www.bankofcanada.ca/rates/exchange/daily-exchange-rates/](https://www.bankofcanada.ca/rates/exchange/daily-exchange-rates/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMRP0203ENSkillsNetwork23863830-2021-01-01)

( \* these datasets are the same as the ones you used in the practice lab)

### Dataset URLs

1.  Annual Crop Data: <https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-RP0203EN-SkillsNetwork/labs/Final%20Project/Annual_Crop_Data.csv>

2.  Farm product prices: <https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-RP0203EN-SkillsNetwork/labs/Final%20Project/Monthly_Farm_Prices.csv>

3.  Daily FX Data: <https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-RP0203EN-SkillsNetwork/labs/Final%20Project/Daily_FX.csv>

4.  Monthly FX Data: <https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-RP0203EN-SkillsNetwork/labs/Final%20Project/Monthly_FX.csv>

<span style="color:red">**IMPORTANT:**</span> You will be loading these datasets directly into R data frames from these URLs instead of from the StatsCan and Bank of Canada portals. The versions provided at these URLs are simplified and subsetted versions of the original datasets.

#### Now let's load these datasets into four separate tables.

Let's first load the RSQLite package:

In [1]:
install.packages("RSQLite")
library("RSQLite")

Updating HTML index of packages in '.Library'
Making 'packages.html' ... done

## Problem 1

#### Create tables

Establish a connection **conn** to the RSQLite database **FinalDB.sqlite**, and create the following four tables.

1.  **CROP_DATA**
2.  **FARM_PRICES**
3.  **DAILY_FX**
4.  **MONTHLY_FX**

The previous practice lab will help you accomplish this.

In [2]:
# Write your query here
conn <- dbConnect(RSQLite::SQLite(),"FinalDB.sqlite")

In [3]:
#check list of tables in the present db.
dbListTables(conn)

character(0)

## Problem 2

#### Read Datasets and load your tables in database

Read the datasets into R dataframes using the urls provided above. Then load your tables in database.

In [11]:
# Write your query here
url1 <- "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-RP0203EN-SkillsNetwork/labs/Final%20Project/Annual_Crop_Data.csv"
url2 <- "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-RP0203EN-SkillsNetwork/labs/Final%20Project/Monthly_Farm_Prices.csv"
url3 <- "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-RP0203EN-SkillsNetwork/labs/Final%20Project/Daily_FX.csv"
url4 <- "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-RP0203EN-SkillsNetwork/labs/Final%20Project/Monthly_FX.csv"
crops <- read.csv(url1)
daily <- read.csv(url3)
monthylfx <- read.csv(url4)
mfp <- read.csv(url2)
dbWriteTable(conn, "CROP_DATA", crops)
dbWriteTable(conn, "FARM_PRICES", mfp)
dbWriteTable(conn, "DAILY_FX", daily)
dbWriteTable(conn, "MONTHLY_FX", monthylfx)
dbListTables(conn)

[1] "CROP_DATA"   "DAILY_FX"    "FARM_PRICES" "MONTHLY_FX"

## Now execute SQL queries using the RSQLite R package to solve the assignment problems.

## Problem 3

#### How many records are in the farm prices dataset?

In [12]:
# Write your query here
query <- 'SELECT COUNT(*) FROM FARM_PRICES'
dbGetQuery(conn, query)

  COUNT(*)
1 2678

## Problem 4

#### Which geographies are included in the farm prices dataset?

In [13]:
# Write your query here
query <- 'SELECT DISTINCT(GEO) FROM FARM_PRICES'
dbGetQuery(conn, query)

  GEO
1 Alberta
2 Saskatchewan

## Problem 5

#### How many hectares of Rye were harvested in Canada in 1968?

In [14]:
# Write your query here
query <- 'SELECT SUM(HARVESTED_AREA) FROM CROP_DATA WHERE CROP_TYPE LIKE "Rye"'
dbGetQuery(conn, query)

  SUM(HARVESTED_AREA)
1 21244290

## Problem 6

#### Query and display the first 6 rows of the farm prices table for Rye.

In [15]:
# Wriet your query here
query <- 'SELECT * FROM FARM_PRICES WHERE CROP_TYPE LIKE "Rye" LIMIT 6'
dbGetQuery(conn, query)

  CD_ID DATE       CROP_TYPE GEO          PRICE_PRERMT
1  4    1985-01-01 Rye       Alberta      100.77
2  5    1985-01-01 Rye       Saskatchewan 109.75
3 10    1985-02-01 Rye       Alberta       95.05
4 11    1985-02-01 Rye       Saskatchewan 103.46
5 16    1985-03-01 Rye       Alberta       96.77
6 17    1985-03-01 Rye       Saskatchewan 106.38

## Problem 7

#### Which provinces grew Barley?

In [16]:
# Write your query here
query <- 'SELECT DISTINCT(GEO) FROM CROP_DATA WHERE CROP_TYPE LIKE "Barley"'
dbGetQuery(conn, query)

  GEO
1 Alberta
2 Canada
3 Saskatchewan

## Problem 8

#### Find the first and last dates for the farm prices data.

In [17]:
# Write your query here
query <- 'SELECT MIN(DATE), MAX(DATE) FROM FARM_PRICES'
dbGetQuery(conn, query)

  MIN(DATE)  MAX(DATE)
1 1985-01-01 2020-12-01

## Problem 9

#### Which crops have ever reached a farm price greater than or equal to $350 per metric tonne?

In [24]:
# Write your query here
query <- 'SELECT DISTINCT(CROP_TYPE) FROM FARM_PRICES WHERE CROP_TYPE IN (SELECT CROP_TYPE FROM FARM_PRICES WHERE PRICE_PRERMT >= 350)'
dbGetQuery(conn, query)

  CROP_TYPE
1 Canola

## Problem 10

#### Rank the crop types harvested in Saskatchewan in the year 2000 by their average yield. Which crop performed best?

In [49]:
# Write your query here
query <- 'SELECT CROP_TYPE, AVG_YIELD FROM CROP_DATA WHERE (YEAR LIKE "%2000%") AND (GEO LIKE "Saskatchewan") ORDER BY AVG_YIELD DESC'
dbGetQuery(conn, query)

  CROP_TYPE AVG_YIELD
1 Barley    2800
2 Wheat     2200
3 Rye       2100
4 Canola    1400

## Problem 11

#### Rank the crops and geographies by their average yield (KG per hectare) since the year 2000. Which crop and province had the highest average yield since the year 2000?

In [59]:
# Write your querye
query <- 'SELECT CROP_TYPE, GEO, AVG_YIELD FROM CROP_DATA WHERE YEAR > "2000" ORDER BY AVG_YIELD DESC'
dbGetQuery(conn, query)

    CROP_TYPE GEO          AVG_YIELD
1   Barley    Alberta      4100
2   Barley    Alberta      4100
3   Barley    Alberta      3980
4   Wheat     Alberta      3900
5   Barley    Canada       3900
6   Wheat     Alberta      3900
7   Barley    Alberta      3900
8   Barley    Alberta      3890
9   Barley    Canada       3820
10  Barley    Canada       3810
11  Barley    Canada       3800
12  Barley    Saskatchewan 3800
13  Wheat     Alberta      3750
14  Barley    Saskatchewan 3730
15  Barley    Alberta      3700
16  Barley    Canada       3700
17  Rye       Alberta      3691
18  Barley    Saskatchewan 3690
19  Barley    Alberta      3600
20  Barley    Alberta      3600
21  Barley    Alberta      3600
22  Barley    Alberta      3600
23  Barley    Saskatchewan 3600
24  Wheat     Canada       3600
25  Barley    Alberta      3600
26  Wheat     Canada       3600
27  Barley    Saskatchewan 3600
28  Barley    Alberta      3595
29  Wheat     Alberta      3518
30  Wheat     Canada       3512
⋮   ⋮         ⋮            ⋮
223 Rye       Canada       1700
224 Canola    Alberta      1700
225 Wheat     Saskatchewan 1700
226 Canola    Canada       1700
227 Canola    Alberta      1700
228 Canola    Saskatchewan 1700
229 Rye       Saskatchewan 1600
230 Wheat     Saskatchewan 1600
231 Rye       Alberta      1600
232 Canola    Canada       1600
233 Canola    Canada       1600
234 Rye       Saskatchewan 1600
235 Canola    Alberta      1500
236 Canola    Canada       1500
237 Canola    Alberta      1500
238 Wheat     Saskatchewan 1500
239 Canola    Saskatchewan 1500
240 Canola    Canada       1500
241 Canola    Saskatchewan 1400
242 Canola    Canada       1400
243 Canola    Saskatchewan 1400
244 Canola    Saskatchewan 1400
245 Canola    Canada       1300
246 Rye       Saskatchewan 1300
247 Canola    Saskatchewan 1300
248 Canola    Alberta      1200
249 Canola    Canada       1200
250 Canola    Saskatchewan 1200
251 Canola    Saskatchewan 1100
252 Canola    Saskatchewan 1000

## Problem 12

#### Use a subquery to determine how much wheat was harvested in Canada in the most recent year of the data.

In [53]:
# Write your query here
query <- 'SELECT YEAR, SUM(PRODUCTION) FROM CROP_DATA WHERE (GEO LIKE "CANADA") AND (CROP_TYPE LIKE "WHEAT") AND (YEAR LIKE (SELECT MAX(YEAR) FROM CROP_DATA))'
dbGetQuery(conn, query)

  YEAR       SUM(PRODUCTION)
1 2020-12-31 35183000

## Problem 13

#### Use an implicit inner join to calculate the monthly price per metric tonne of Canola grown in Saskatchewan in both Canadian and US dollars. Display the most recent 6 months of the data.

In [72]:
# Write your query here
query <- 'SELECT PRICE_PRERMT AS "Canadian_Dollars", (PRICE_PRERMT*MF.FXUSDCAD) AS "US_Dollars" FROM FARM_PRICES FP INNER JOIN MONTHLY_FX MF ON FP.DATE = MF.DATE LIMIT 6'
dbGetQuery(conn, query)

  Canadian_Dollars US_Dollars
1 202.05           266.5598
2 204.76           270.1350
3 482.78           636.9202
4 488.45           644.4005
5 140.95           185.9520
6 257.08           339.1595

## Author(s)

<h4> Jeff Grossman </h4>

<h4> D.M. Naidu </h4>

## Contributor(s)

<h4> Rav Ahuja </h4>

<h4> Lakshmi Holla </h4>


## Change log

| Date       | Version | Changed by    | Change Description                        |
| ---------- | ------- | ------------- | ----------------------------------------- |
| 2022-03-03 | 1.0     | D.M. Naidu    | Converted intial version to RSQLite       |

## <h3 align="center"> © IBM Corporation 2022. All rights reserved. <h3/>